<!DOCTYPE html>
<html lang="en">
<head>
  <title>CovRadar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
 
<div class="container">
  <div class="row mb-5 mt-3">
    <div class="col-md-3 col-md-push-9 mt-3">
      <a href="https://hpi.de/">
        <img src="/public/hpi_logo_web.svg" width="150px" height="auto" alt="HPI Logo">
      </a>
    </div>
    <div class="col-md-9 col-md-pull-3">
      <h1 class="text-center">Welcome to CovRadar!</h1>
    </div>
  </div>
    <div class="row justify-content-center mb-5">
      <div class="col-8">
        <p class="text-left"> CovRadar is a tool for the molecular surveillance of the Corona spike protein. The spike protein allows the virus to enter the host cell and is therefore an important target for antibodies and vaccines.</p>
        <p class="text-left"> CovRadar consists of a workflow pipeline and a web application that enable the analysis and visualization of SARS-CoV-2 sequences.</p>
        <p class="text-left"> The source code is on GitLab: <a href='https://gitlab.com/dacs-hpi/covradar' target="_blank">https://gitlab.com/dacs-hpi/covradar</a></p>
        <p class="text-left"> Please refer CovRadar's preprint for further information: <a href='https://doi.org/10.1093/bioinformatics/btac411' target="_blank">CovRadar: continuously tracking and filtering SARS-CoV-2 mutations for genomic surveillance</a></p>
        <p class="text-left"> This website is free and open to all users and there is no login requirement. </p>
      </div>
    </div>
    <!--<h1 class="text-center">Screenshots</h1> -->
    <!-- images do not delete -->

    <div class="row justify-content-center align-items-end mb-5">
      <div class="col-md-4">
          <div class="thumbnail">
            <a href="/report/">
                <img src="/public/world_map_latest.jpg" alt="" style="width:100">
            </a>
            <div>
              <p>Time interval: {{interval_latest}}</p>
              <p>Number of sequences: {{number_seqs_latest}}</p>
              <p>Last modified: {{modified_latest}}</p>
            </div>
            <a id="MapLatestBtn" class="btn btn-primary btn-lg btn-app btn-block" href="/latest">Latest Global Report</a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="thumbnail">
            <a href="latest">
                <img src="/public/world_map.jpg" alt="" style="width:100">
            </a>
            <div>
              <p>Time interval: {{interval_global}}</p>
              <p>Number of sequences: {{number_seqs_global}}</p>
              <p>Last modified: {{modified_global}}</p>
            </div>
            <a id="reportBtn" class="btn btn-primary btn-lg btn-app btn-block" href="/report">Global Report</a>
          </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-md-8">
          <a id="helpPageBtn" class="btn btn-primary btn-lg btn-login btn-block" href="/help" target="_blank">Help Page</a>
      </div>
        </div>
    </div>



  <div class="row justify-content-center mb-5">
  <h3 class="text-center">Supported by:</h3>
    <div class="col-md-4 mb-5 text-center">
      <a href="https://www.denbi.de/">
        <img src="/public/denbi_cloud_logo.png"  width="200px" height="auto" alt="Denbi Logo"/>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="https://www.rki.de/">
        <img src="/public/rki_logo.png" width="200px" height="auto" alt="RKI Logo"/>
      </a>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-4 mb-5 text-center">
      <h6 class="text-center">Image sources:</h3>
      <a href='https://www.freepik.com/vectors/map'>Map vector created by freepik - www.freepik.com</a>
      <a href='https://www.freepik.com/vectors/travel'>Travel vector created by Layerace - www.freepik.com</a>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="card col-md-8">
      <div class="card-body">
        <h4>Imprint</h4>
        <p><strong>Information according to § 5 German Telemedia Act:</strong></p>
        <p>Stephan Fuchs</p>
        <p>Seestraße 10</p>
        <p>13353 Berlin</p>
        <p><strong>Contact:</strong></p>
        <p>fuchss@rki.de</p>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#policy_modal">
          Privacy Policy
        </button>
      </div>
    </div>

  <!-- Modal -->
    <div class="modal fade" id="policy_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>1. Introductory Remarks</strong></p>
            <p>This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of personal data if anyone decided to use our Service, the CovRadar website (www.covradar.net and www.covradar.de). Personal data is information that makes it possible to identify a person. In addition to direct personal information, such as name, date of birth or telephone number or IP address, this also includes data on personal characteristics, beliefs or relationships that allow a conclusion to be drawn about a specific person. The operators of these pages take the protection of your personal data very seriously. We treat your personal data confidentially and according to the legal data protection regulations as well as this Privacy Policy. If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The personal information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy. We would like to point out that the data transmission on the Internet (e.g. communication by e-mail) can have security gaps. A complete protection of data against access by third parties is not possible.</p>
            <p><strong>2. General Information on Data Processing</strong></p>
            <p>As a matter of principle, we collect and use personal data of our users only to the extent necessary for providing a functional website and service and as the legal requirements allow.</p>
            <p><strong>3. Contact Details</strong></p>
            <p>Hasso-Plattner-Institut</p>
            <p>FG Bernhard Renard</p>
            <p>Prof.-Dr.-Helmert-Straße 2 – 3</p>
            <p>14482 Potsdam</p>
            <p><strong>4. Data Protection officer</strong></p>
            <p>Prof. Dr. Bernhard Renard</p>
            <p><strong>5. Purpose</strong></p>
            <p>The purpose of the CovRadar service is to provide insights into mutation frequency in public SARS-COV-2 (SC2) genomes as well as temporal and spatial distributions of genomic SC2 variants.</p>
            <p><strong>6. Scope of Data Processing</strong></p>
            <p><strong>Storage of Browser Data</strong></p>
            <p>Whenever you visit our website, our system automatically collects data and information from the computer system of the calling computer. The following data is collected:</p>
            <ul>
            <li>Information about the browser type and the version used</li>
            <li>The user&#39;s operating system</li>
            <li>The Internet service provider of the user</li>
            <li>The IP address of the user</li>
            <li>Date and time of access</li>
            <li>Websites from which the user&#39;s system accesses our website</li>
            <li>Visited domain</li>
            <li>Timestamp of the visit</li>
            <li>Status code</li>
            <li>Size of the response body</li>
            <li>Referrer sent by the client</li>
            <li>User agent sent by the client</li>
            </ul>
            <p>The data is also stored in the log files of our system, but not linked with any other personal data of the user. The temporary storage of the IP address by the system is necessary to enable the website to be delivered to the user&#39;s computer. For this purpose, the user&#39;s IP address must remain stored for the duration of the session. The storage in log files is done to ensure the functionality of the website. In addition, the data is used to optimize the website and to ensure the security of our information technology systems. An evaluation of the data for marketing purposes does not take place in this context. The data is deleted when the respective session is ended. If the data is stored in log files, it will be deleted after two weeks at the latest.</p>
            <p><strong>Use of Cookies</strong></p>
            <p>This website does not use cookies to collect personally identifiable information about you as a user of the site.</p>
            <p><strong>7. External Links</strong></p>
            <p>Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>
            <p><strong>8. Children&#39;s Privacy</strong></p>
            <p>Our Services do not address anyone under the age of 18. We do not knowingly collect personal data from children under 13. In the case we discover that a child under 18 has provided us with personal data, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>
            <p><strong>9. Your Rights</strong></p>
            <p>As a person concerned, you may at any time exercise the rights granted to you by the EU-DSGVO, insofar as they apply to the processing:</p>
            <ul>
            <li>the right to be informed whether and which of your data are being processed (Art. 15 DSGVO)</li>
            <li>the right to request the correction or completion of data concerning you (Art. 16 DSGVO)</li>
            <li>the right to have data relating to you deleted in accordance with Art. 17 DSGVO</li>
            <li>the right to request, in accordance with Art. 18 DPA, a restriction on the processing of data</li>
            <li>the right to object to future processing of data concerning you in accordance with Art. 21 DPA</li>
            </ul>
            <p>The collection of data for the provision of the web offer and the storage of the data in log files is mandatory for the operation of the web pages. There is therefore no possibility of objection on the part of the user. Although IP addresses are regarded as personal data, they are not assigned to any person, so they cannot be assigned to any user and therefore cannot be accessed when information is requested. In addition to the aforementioned rights, you have the right to lodge a complaint with the data protection supervisory authority (Art. 77 DSGVO).</p>
            <p><strong>10. Validity of this Privacy Policy</strong></p>
            <p>Unless otherwise specified in this privacy statement, the regulations of the de.NBI Privacy Policy (<a href="https://www.denbi.de/privacy-policy">https://www.denbi.de/privacy-policy</a>) apply. We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page. If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 
</body>
</html>
