body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 200%;
  font-weight: 100;
}
header {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
}
footer {
  margin-top: 40px;
}
p {
  text-align: left;
}
pre {
  text-align: left;
}
input[type=checkbox],
input[type=radio] {
  position: absolute;
  opacity: 0;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: inline-block;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: "";
  display: inline-block;
  vertical-align: -0.2em;
  width: 1em;
  height: 1em;
  border: 0.15em solid #0074d9;
  border-radius: 0.2em;
  margin-right: 0.3em;
  background-color: white;
}
input[type=radio] + label:before {
  border-radius: 50%;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
  background-color: #0074d9;
  box-shadow: inset 0 0 0 0.15em white;
}
input[type=radio]:focus + label:before,
input[type=checkbox]:focus + label:before {
  outline: 0;
}
.btn {
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
}
.btn-logout {
  background-color: #16214D;
  color: white;
}
.btn-app {
  background-color: #d95f0e;
  color: white;
}
.btn-logout:hover {
  background-color: #44C7F4;
}
.btn-report:hover {
  background-color: #fec44f;
}
.btn:focus {
  outline: none !important;
}
.btn.btn-lg {
  padding: 20px 30px;
}
.btn:disabled {
  background-color: #333;
  color: #666;
}
h1,
h2,
h3 {
  font-weight: 100;
}
.home-description {
  font-weight: 100;
  margin: 100px 0;
}
h1 {
  font-size: 300%;
}
h2 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 200%;
}
label {
  font-size: 100%;
  font-weight: 300;
}
.btn-next {
  margin-top: 30px;
}
.answer {
  width: 70%;
  margin: auto;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 20px;
}
.login-page .login-box {
  padding: 100px 0;
}
.app_option_row{
  display: flex;
}
.app_option {
  width: 50%;
  float: left;
  padding: 40px;
  margin-top: auto;
  margin-bottom: 0;
}
.app_icon {
  width: 100%;
}
.app_icon.germany{
  width: 75%;
}
.app_option_row::after {
  content: "";
  clear: both;
  display: table;
}
.title_page {
  margin-bottom: 0;
  margin-top: auto;
  margin-left: 10px;
}
.header_logo {
  width: 250px;
  margin-left: auto;
  margin-right: 0;
  height: 100%;
}
.header_logo img {
  width: 100%;
}
.supporter_row{
  width: 100%;
  vertical-align: middle;
}
.supported_by {
  width: 250px;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.supporter {
  width: 250px;
  float: left;
  padding: 30px;
}
.supporter_icon {
  width: 100%;
}