img(style="width:400px; display:block; margin:0 auto;"
    src="file:///{{ logo }}")

#sidebar: p {{ sidenote }}

h1 {{ title }}

h3 Basic Statistics

.ui.piled.segment: p.
    {{ basic_stats }}

h3 Substitutions

center
  <img src="file:///{{ substitutions }}"/>

h3 Base Frequencies of Non-Consensus Bases

center
  <img class="freqplot" src="file:///{{ freq_plot }}"/>

h3 Workflow

center
  <img class="workflow" src="file:///{{ workflow }}"/>
